<li class="list-group-item list-group-item-action pl-0">
  <span class="badge badge-primary p-2">#<%= comment.id %></span>  
  <b><%= comment.author.first_name %>  <%= comment.author.last_name %>:</b> <%= comment.body %>
</li>