<% if current_author %>
  <h4 class="d-flex justify-content-between py-3">
    <span>All posts</span>
    <%= link_to 'Your posts', posts_path, class: "btn btn-primary" %>
  </h4>
  <%= render 'posts/post', post: @post %>
<% else %>
  <div class="jumbotron mt-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">I am simply blog created for recrutation process of EEngine Software House.</p>
    <hr class="my-4">
    <p>If you would like to created your own posts or comments, feel free to sign up!</p>
    <%= link_to new_author_registration_path, class: "btn btn-primary btn-lg" do %>
      Sign up
    <% end %>
  </div>
  <%= render 'posts/post', post: @post %>
<% end %>


