@import "bootstrap";
@import '@fortawesome/fontawesome-free';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');


body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  font-weight: 500;
}

.cursor {
  cursor: default !important;
}

.navbar-brand{
  font-family: 'Roboto';
  font-size: 2rem;
}