<div class="bg-light mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 py-3">
        <p class="text-muted mb-0 ">Created for 
        <%= link_to "https://eengine.pl/pl", class: "text-muted text-decoration-none", target: "_blank" do %>
          EENGINE with <span class="text-danger"><i class="fas fa-heart"></i></span>
        <% end %>
        </p>
      </div>
      <div class="col-12 col-md-6 py-3">
        <p class="text-muted mb-0">By 
        <%= link_to "https://github.com/debicky", class: "text-muted text-decoration-none", target: "_blank" do %>
          Artur Debicki &copy; 2020
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>